/* Styles and stuff */
body {
    font-family: 'Helvetica', arial;
}

div.row {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

/* Hero styling */
#hero {
	padding: 8rem 5rem 5rem 5rem;
	background-color: #FF3D7F;
}	

#hero h1 {
	font-family: 'Helvetica', arial;
	font-weight: 600;
	font-size: 4rem;
} 

.button {
	background-color: #ef674d;
	margin: 4rem auto;
	display: block;
	width: 11rem;
}

#hero-modal {
	/*background-color: pink;*/
}	

#hero-modal h2 {
	font-family: 'Helvetica', arial;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: .04rem;
	margin-top: 4rem;
}	

#hero-modal p {
	font-size: 1rem;
	letter-spacing: .03rem;
}	

/* Committees styling */

#committees {
	padding: 4rem;
	background-color: #FF9E9D;
}


#committees a{
	font-weight: 800;
	letter-spacing: .05rem;
}

#committees h1 {
	padding: 3rem 0;
	font-family: 'Helvetica', arial;
	font-weight: 800;
	font-size: 3rem;
	text-align: center;
}

/* Team styling */
div.row#team {
    background-color: #DAD8A7;
    padding: 4rem;
}

div.row#team h1 {
    font-family: 'Helvetica', arial;
    font-weight: 800;
    letter-spacing: .03rem;
    font-size: 3rem;
    text-align: center; 
}

div.teamcard {
    text-align: center;
    overflow: hidden;
}

div.teamcard h5 {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 1.2rem;
}

div.teamcard p {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 0.8rem;
}

img.teampic {
    height: auto;
    width: 100%;
    max-height: 
}

/* Contact form styling */

div.row#contact {
    background-color: #3FB8AF;
    padding: 4rem;
}

div.row#contact h1 {
    font-family: 'Helvetica', arial;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 3rem;
    text-align: center; 
}
