/* Styles and stuff */

div.row#team {
    text-align: center;
}

div.teamcard {
    text-align: center;
    overflow: hidden;
}

img.teampic {
    height: auto;
    width: 100%;
    max-height: 
}

#hero {
	padding: 5rem;
}