/* Styles and stuff */
body {
    font-family: 'Helvetica', arial;
}

div.row {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

@media only screen and (min-width: 40.063em) { 
    div.fullvertical {
        min-height: 100vh;
    }
}
.nav-logo {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin-top: 2.5px;
}

.top-bar {
	background: #fff;
	height: 3.8125rem;
	padding: .5rem;
}

.contain-to-grid {
	background: #fff;
}

.top-bar {
	/* Left side */
    background: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1rem;
}

.top-bar-section > ul > li > a {
	font-weight: 600;
	color: #000;
}

.top-bar-section li a:not(.button) {
	/* Right side */
    background: #fff !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #000 !important;   


}

.top-bar-section ul li.active > a {
    background: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

/* Hero styling */
#hero {
	padding: 12rem 5rem 5rem 5rem;
	background: -webkit-linear-gradient(top, rgba(41, 41, 41, .9) 0%, rgba(5, 5, 5, .8) 100%), url(../assets/kemp.jpg) no-repeat center center fixed;
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}	

#hero h1 {
	font-family: 'Helvetica', arial;
	font-weight: 600;
	font-size: 4rem;
	text-align: center;
	color: #fff;
} 

.button {
	background-color: #ef674d;
	margin: 4rem auto;
	display: block;
	width: 11rem;
}

.bstyle {
	background-color: rgba(0,0,0,.05);
	border: 1px solid white;
}

#hero-modal {
	/*background-color: pink;*/
}	

#hero-modal h2 {
	font-family: 'Helvetica', arial;
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: .04rem;
	margin-top: 4rem;
}	

#hero-modal p {
	font-size: 1rem;
	letter-spacing: .03rem;
}	

/* Committees styling */

#committees, #team {
	padding: 4rem;
	background-color: #FF9E9D;
}


#committees a{
	font-weight: 800;
	letter-spacing: .03rem;
}

#committees h1 {
	padding: 3rem 0;
	font-family: 'Helvetica', arial;
	font-weight: 800;
	font-size: 3rem;
	text-align: center;
}

#team h1 {
	padding: 3rem 0;
	font-family: 'Helvetica', arial;
	font-weight: 800;
	font-size: 3rem;
	text-align: center;
}

/* Team styling */
div.row#team {
    background-color: #DAD8A7;
    padding: 4rem;
}

div.row#team h1 {
    font-family: 'Helvetica', arial;
    font-weight: 800;
    letter-spacing: .03rem;
    font-size: 3rem;
    text-align: center; 
}

div.teamcard {
    text-align: center;
    overflow: hidden;
}

div.teamcard h5 {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 1.2rem;
    padding: .5rem;

}

div.teamcard p {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-size: 0.8rem;
}

img.teampic {
    height: auto;
    width: 100%;
}

.panel {
	padding: 0;
}

/* Contact form styling */

div.row#contact {
    background-color: #166E92;
    padding: 8rem 4rem 4rem 4rem;
}

div.row#contact label {
    color: white;
    font-family: 'Inconsolata';
}

div.row#contact h1 {
    color: #F1EE7B;
    font-family: 'Helvetica', arial;
    font-weight: 800;
    letter-spacing: .05rem;
    font-size: 3rem;
    text-align: center; 
}
